# Media files
media/
uploads/

# Static files
staticfiles/

# Python
*.pyc
__pycache__/
*.py[cod]
*.so
.Python

# Virtual Environment
.venv/
venv/
env/
ENV/
node_modules/

# Database
db.sqlite3
db.sqlite3-journal
*.log
backup.sql
# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp

data.json
dump_to_neon.py
migrate_to_cloudinary.py
poetry.lock
celerybeat-schedule