# Media files
media/
uploads/

# Static files
staticfiles/

# Python
*.pyc
__pycache__/
*.py[cod]
*.so
.Python

# Virtual Environment
.venv/
venv/
env/
ENV/
node_modules/

# Database
db.sqlite3
db.sqlite3-journal
*.log

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp