{% extends 'Shop/layouts/main.html' %}
{% load static cloudinary %}

{% block title %}
   Register|Ecom
{% endblock title %}

{% block content %}
<div class="container-fluid my-3">
<h2 class="text-center text-black fw-bolder">SEARCH RESULTS</h2>
  
<div class="bg-light mx-auto text-center my-4">
    {% if products %}
    
        <div class=" my-2">
            <div class="row my-2 ">
                {% for item in products %}
                    <div class=" col-6 col-sm-6 col-md-2 col-lg-2 my-3 px-1">
                        <div class="card h-100 mx-auto">
                            {% if item.trending %}
                                <div class="hot">Hot</div>
                                {% endif %}
                            <a href="{% url 'collectiondetails' item.category.name item.name %}" class="link">
                                <!-- <img src="{{item.product_image.url}}" class="card-img-top w-100" style="margin:auto" alt="..." > -->
                                 <img
                                    src="{% cloudinary_url item.product_image f_auto=True q_auto=True dpr='auto' %}"
                                    class="img-fluid p-1"
                                    loading="lazy"+
                                    alt="{{ item.name }}"
                                >
                                
                                    <div class="card-body" style="text-decoration: none;">
                                         <h6 class="card-title">{{item.name}}</h6> 
                                        <p class="card-text">
                                            <b class="fs-6">₹ {{item.selling_price}}</b>
                                            <s class="text-muted"> ₹ {{item.original_price}}</s>
                                        </p>                                  
                                      </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


    {% else %}
        
        <img src="{% static 'images/no-product.png' %}"  alt="thumb-image" width="200" height="200">
    {% endif %}
</div>
</div>
{% if products.paginator.num_pages > 1 %}
<nav class="d-flex justify-content-center my-4">
  <ul class="pagination">

    {% if products.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?q={{ query }}&page={{ products.previous_page_number }}">
          Previous
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
    {% endif %}

    {% for num in products.paginator.page_range %}
      {% if products.number == num %}
        <li class="page-item active">
          <span class="page-link">{{ num }}</span>
        </li>
      {% elif num > products.number|add:'-2' and num < products.number|add:'2' %}
        <li class="page-item">
          <a class="page-link" href="?q={{ query }}&page={{ num }}">{{ num }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if products.has_next %}
      <li class="page-item">
        <a class="page-link" href="?q={{ query }}&page={{ products.next_page_number }}">
          Next
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Next</span>
      </li>
    {% endif %}

  </ul>
</nav>
{% endif %}


{% endblock content %}

