{% extends 'Shop/layouts/main.html' %}

{% load i18n %}
{% load account socialaccount %}

{% load static %}
{% block title %}
Login|TrumpKart
{% endblock title %}


{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="bg-login py-4" >
{% include 'Shop/inc/message.html' %}
<h1 class="text-center fw-bolder" style="color: rgb(4, 9, 90); font-family: serif;">LOGIN</h1>
<div class="container col-10 col-sm-10 col-md-6 col-lg-4  p-3 mx-auto login rounded-2">
  
  <section class="container my-2">
     
                  <form method="POST" action="">
                   {% csrf_token %}
                   <div class="mb-2 mx-0">
                      <label for="" class="form-label fw-bold">Username</label>
                      <input type="text" name="username" id="username" class="form-control" placeholder="Enter your Username">
                      
                     </div>
  
                    <div class="mb-2">
                     <label for="" class="form-label fw-bold">Password</label>
                     <div class="input-group mx-0">
                       <input type="password" name="password" id="password" class="form-control mx-0 w-75" placeholder="Enter your Password">
                       <button class="btn btn-outline-secondary bg-white" type="button" id="togglePassword" style="border-left: none;">
                         <i class="bi bi-eye-slash " id="eyeIcon"></i>
                       </button>
                     </div>
                 </div>
                 <button type="submit" class="btn btn-primary fw-bold mb-2">Sign-in</button>

                </form>
                <a class="text-black fw-bolder text-decoration-underline" href="{% url 'account_reset_password' %}">{% trans "Forgot Password" %}</a> 
                                   <p class="mt-2">Create New Account: <a  href="{% url 'account_signup' %}"><span class=" fw-bolder fs-6 text-primary text-decoration-underline">SIGN UP</span></a> </p>

  
  </section>
  
  


  <div class="login-or my-3  text-center mb-2">{% trans 'OR' %}</div>

  <div class="text-center">
    <div class="socialaccount_providers">
      {% include "Shop/socialaccount/snippets/provider_list.html" with process="login" %}
    </div>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <p class="m-0">Please sign in with one
    of your existing third party accounts.<br>Or, <a href="{% url 'account_signup' %}">sign up</a>
    for a {{ site_name }} account.</p>

    <div class="socialaccount_ballot">
    </div>

    {% else %}
    <p>If you have not created an account yet, then please
    <a href="{% url 'account_signup' %}">sign up</a> first.</p>
    {% endif %}
  </div>
</div>
  </div>
{% endblock %}
{% block scripts %}
<script>
  document.getElementById('togglePassword').addEventListener('click', function() {
    const passwordField = document.getElementById('password');
    const eyeIcon = document.getElementById('eyeIcon');
    
    if (passwordField.type === 'password') {
      passwordField.type = 'text';
      eyeIcon.classList.remove('bi-eye-slash');
      eyeIcon.classList.add('bi-eye');
    } else {
      passwordField.type = 'password';
      eyeIcon.classList.remove('bi-eye');
      eyeIcon.classList.add('bi-eye-slash');
    }
  });
</script>
{% endblock scripts %}