{% extends 'Shop/layouts/main.html' %}
{% load static %}

{% block title %}
Forgot Password
{% endblock title %}

{% block content %}

        {% include 'Shop/inc/message.html' %}

        
        <div class="container-fluid py-4" style="background: linear-gradient(to bottom, #f8f9fa, #e9ecef); min-height: calc(80vh - 80px);">
         <h2 class="text-center fw-bolder" style="color: rgb(4, 9, 90); font-family: sans-serif;">FORGOT PASSWORD</h2>
            <div class="row justify-content-center ">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4">                     
                    <div class=" shadow-lg border-0 rounded-4 my-1">
                        <div class="card-body px-4 py-1">
            
                            <div class="text-center mb-2">
                                <p class="fw-bold fs-6" style="font-family: serif;">
                                    Enter your email address below
                                </p>
                            </div>

                            <section class="container my-2">
                                <form method="POST" action="{% url 'password_reset' %}">
                                    {% csrf_token %}
                                    
                                    <div class="mb-3">
                                        <label for="email" class="form-label text-black fw-bolder fs-5" style="font-family: serif;">
                                            Email Address
                                        </label>
                                        <div class="input-group">
                                            <span class="input-group-text bg-white">
                                                <i class="fa-solid fa-lock fs-6 text-dark"></i>
                                            </span>
                                            <input type="email" 
                                                name="email" 
                                                id="email" 
                                                class="form-control" 
                                                placeholder="Enter your registered email" 
                                                required
                                                autocomplete="email">
                                        </div>
                                        <small class="text-secondary">We'll never share your email with anyone else.</small>
                                    </div>

                                    <button type="submit" class="btn btn-primary text-light fw-bold rounded-2 w-100 py-2 my-2" style="font-family: serif;">
                                        <i class="fa-solid fa-envelope fs-6 me-2"></i>SEND RESET LINK
                                    </button>
                                     <div class="alert alert-success text-dark">we'll send you a link to reset your password.</div>
                                    <div class="text-center mt-3">
                                        <p class="small text-dark mb-2">
                                            Remember your password? 
                                            <a class="text-primary fw-bolder text-decoration-none" href="{% url 'account_login' %}">
                                                <i class="fa-solid fa-right-to-bracket text-primary fs-bold fs-6"></i> LOGIN
                                            </a>
                                        </p>
                                        <p class="small text-dark">
                                            Don't have an account? 
                                            <a class="text-primary fw-bolder text-decoration-none" href="{% url 'account_signup' %}">
                                                <i class="fa-solid fa-user-plus text-primary fw-bold fs-6"></i> SIGN UP
                                            </a>
                                        </p>
                                    </div>
                                </form>
                            </section>

                        </div>
                    </div>
                </div>
            </div>      
        </div>


{% endblock content %}