{% extends 'Shop/layouts/main.html' %}
{% load i18n %}
{% load account socialaccount %}

{% load static %}

{% block title %}
Register|TrumpKart
{% endblock title %}

{% block content %}
<div class="bg-register">
    {% include 'Shop/inc/message.html' %}
<h1 class="text-center fw-bolder" style="color: rgb(4,9,90); font-family: serif;">REGISTER</h1>

    <div class="container col-10 col-sm-10 col-md-6 col-lg-4 px-5 py-3 mx-auto rounded-2 register" >
        <section class="mx-auto my-2 ">
           
                <form method="POST" action="">
                   {% csrf_token %}
                   <div class="mb-2">
                     <label for="" class="form-label fw-bold">Username</label>
                     {{form.username}}
                     
                    </div>

                   <div class="">
                    <label for="" class="form-label fw-bold">Email</label>
                    {{form.email}}
                   
                </div>
                  <div>
                    <label for="" class="form-label fw-bold">Password</label>
                    <div class="input-group">
                        <!-- {{form.password1}} -->
                            <input type="password" name="password1" id="showpwd1" placeholder="Enter the Password" class="form-control mx-0 w-75">
                            <button class="btn btn-outline-secondary bg-white" type="button" id="togglePassword1" style="border-left: none;">
                                <i class="bi bi-eye-slash text-black" id="eyeIcon1"></i>
                            </button>
                            
                        </div>

                    </div>

                    <div>
                        <label for="" class="form-label fw-bold">Password</label>
                        <div class="input-group">
                            <!-- {{form.password1}} -->
                                <input type="password" name="password2" id="showpwd2" placeholder="Enter the Password" class="form-control mx-0 w-75">
                                <button class="btn btn-outline-secondary bg-white" type="button" id="togglePassword2" style="border-left: none;">
                                    <i class="bi bi-eye-slash text-black" id="eyeIcon2"></i>
                                </button>
                                
                        </div>

                    </div>

                   <!-- <div class="mb-2">
                    <label for="" class="form-label fw-bold">Confirm Password</label>
                    {{form.password2}}
                    <input type="checkbox" id="showpwd2">
                   
                </div> -->

                   <button class="btn btn-success mt-2" type="submit">Submit</button>

                </form>
                <div class="my-2 rounded-2 px-2 py-2" style="border: 1px solid black; background-color: rgba(255,255,255,0.1);">
                    <h6 class="fw-bolder text-dark mb-2"><i class="bi bi-info-circle-fill fs-5 me-2"></i>Password Requirements</h6>
                    <ul class="mb-0 list-unstyled">
                        <li class="small text-dark">Minimum 8 characters</li>
                        <li class="small text-dark">Use a combination of uppercase (A–Z), lowercase (a–z), digits (0–9), and special characters (! @ # $ %)</li>
                        <li class="small text-dark">Password should not be same as Username or Email</li>
                    </ul>
                </div>
                <p class="my-2 fw-bold">Already an user?? <a class=" fw-bold ms-2" href="{% url 'account_login' %}"> <span class="text-primary text-decoration-underline fw-bolder fs-6">LOGIN</span></a></p>
               
            

            <div class="">
              
                <div class="mb-2">
                    
                     {% if form.errors.username %}
                     <label class="text-danger" for="">{{ form.errors.username }}</label>
                     {% endif %}
                </div>
                    
                <div class="mb-2">
                   
                    {% if form.errors.email %}
                    <label class="text-danger" for="">{{ form.errors.email }}</label>
                    {% endif %}
                </div>

                <div class="mb-2">
                    
                    {% if form.errors.password1 %}
                    <label class="text-danger" for="">{{ form.errors.password1 }}</label>
                    {% endif %}
                </div>

                <div class="mb-2">
                   
                    {% if form.errors.password2 %}
                    <label class="text-danger" for="">{{ form.errors.password2 }}</label>
                    {% endif %}
                </div>
        </section>
    
    <div class="login-or my-3 text-dark text-center">{% trans 'OR' %}</div>

    <div class="text-center container ">
      <div class="socialaccount_providers">
        {% include "Shop/socialaccount/snippets/provider_list.html" with process="login" %}
      </div>
  
      {% get_providers as socialaccount_providers %}
  
      {% if socialaccount_providers %}
      <p class="m-0">Please sign in with one
      of your existing third party accounts.<br>Or, <a href="{% url 'account_signup' %}">sign up</a>
      for a {{ site_name }} account.</p>
  
      <div class="socialaccount_ballot">
      </div>
  
      <!--{% include "Shop/socialaccount/snippets/provider_list.html" %}-->
  
      {% else %}
      <p>If you have not created an account yet, then please
      <a href="{% url 'account_signup' %}">sign up</a> first.</p>
      {% endif %}
    </div>
    
      </div>

</div>
</div>
{% endblock %}
{% block scripts %}
<script>
       document.getElementById('togglePassword1').addEventListener('click', function() {
        const passwordField = document.querySelector('input[name="password1"]');
        const eyeIcon = document.getElementById('eyeIcon1');
        
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            eyeIcon.classList.remove('bi-eye');
            eyeIcon.classList.add('bi-eye-slash');
        } else {
            passwordField.type = 'password';
            eyeIcon.classList.remove('bi-eye-slash');
            eyeIcon.classList.add('bi-eye');
        }
    });

    // Password visibility toggle for password2
    document.getElementById('togglePassword2').addEventListener('click', function() {
        const passwordField = document.querySelector('input[name="password2"]');
        const eyeIcon = document.getElementById('eyeIcon2');
        
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            eyeIcon.classList.remove('bi-eye');
            eyeIcon.classList.add('bi-eye-slash');
        } else {
            passwordField.type = 'password';
            eyeIcon.classList.remove('bi-eye-slash');
            eyeIcon.classList.add('bi-eye');
        }
    });
</script>
{% endblock scripts %}